<div class="container">
  <div class="row">
    <div class="span12">
      <h1>Listing tab2bs</h1>

<table>
  <thead>
    <tr>
      <th>Productname</th>
      <!--th>Bagwidth</th>
      <th>Bagheight</th>
      <th>Bagdepth</th>
      <th>Bagstraplength</th-->
     <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @tab2bs.each do |tab2b| %>
      <tr>
        <td><%= tab2b.productname %></td>
        <!--td><%= tab2b.bagwidth %></td>
        <td><%= tab2b.bagheight %></td>
        <td><%= tab2b.bagdepth %></td>
        <td><%= tab2b.bagstraplength %></td-->
        <td><%= link_to 'Show/Get Code', tab2b %></td>
        <td><%= link_to 'Edit', edit_tab2b_path(tab2b) %></td>
        <td><%= link_to 'Delete', tab2b, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tab2b', new_tab2b_path %>
    </div>
  </div>
</div>