<p id="notice"><%= notice %></p>

<p>
  <strong>Productname:</strong>
  <%= @tab2b.productname %>
</p>

<p>
  <strong>Bagwidth:</strong>
  <%= @tab2b.bagwidth %>
</p>

<p>
  <strong>Bagheight:</strong>
  <%= @tab2b.bagheight %>
</p>

<p>
  <strong>Bagdepth:</strong>
  <%= @tab2b.bagdepth %>
</p>

<p>
  <strong>Bagstraplength:</strong>
  <%= @tab2b.bagstraplength %>
</p>

<%= link_to 'Edit', edit_tab2b_path(@tab2b) %> |
<%= link_to 'Back', tab2bs_path %>
