<h1>Listing shippings</h1>

<table>
  <thead>
    <tr>
      <th>Shippingtitle</th>
      <th>Firstline</th>
      <th>Secondline</th>
      <th>Thirdline</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shippings.each do |shipping| %>
      <tr>
        <td><%= shipping.shippingtitle %></td>
        <td><%= shipping.firstline %></td>
        <td><%= shipping.secondline %></td>
        <td><%= shipping.thirdline %></td>
        <td><%= link_to 'Show', shipping %></td>
        <td><%= link_to 'Edit', edit_shipping_path(shipping) %></td>
        <td><%= link_to 'Destroy', shipping, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shipping', new_shipping_path %>
