<div class="container">
  <div class="row">
    <div class="span12">
      <h1>Listing tab2as</h1>

<table>
  <thead>
    <tr>
      <th>Productname</th>
      <!--th>Accessorywidth</th>
      <th>Accessorylength</th>
      <th>Accessorydepth</th>
      <th>Accessorystraplength</th>
      <th>Accessoryminlength</th>
      <th>Accessorymaxlength</th>
      <th>Accessorychainlength</th>
      <th>Accessorypendantwidth</th>
      <th>Accessorydiameter</th>
      <th>Accessorylensdiameter</th-->
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @tab2as.each do |tab2a| %>
      <tr>
        <td><%= tab2a.productname %></td>
        <!--td><%= tab2a.accessorywidth %></td>
        <td><%= tab2a.accessorylength %></td>
        <td><%= tab2a.accessorydepth %></td>
        <td><%= tab2a.accessorystraplength %></td>
        <td><%= tab2a.accessoryminlength %></td>
        <td><%= tab2a.accessorymaxlength %></td>
        <td><%= tab2a.accessorychainlength %></td>
        <td><%= tab2a.accessorypendantwidth %></td>
        <td><%= tab2a.accessorydiameter %></td>
        <td><%= tab2a.accessorylensdiameter %></td-->
        <td><%= link_to 'Show/Get Code', tab2a %></td>
        <td><%= link_to 'Edit', edit_tab2a_path(tab2a) %></td>
        <td><%= link_to 'Delete', tab2a, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tab2a', new_tab2a_path %>
<div>
  </div>
</div>