<p id="notice"><%= notice %></p>

<p>
  <strong>Productname:</strong>
  <%= @tab2a.productname %>
</p>

<p>
  <strong>Accessorywidth:</strong>
  <%= @tab2a.accessorywidth %>
</p>

<p>
  <strong>Accessorylength:</strong>
  <%= @tab2a.accessorylength %>
</p>

<p>
  <strong>Accessorydepth:</strong>
  <%= @tab2a.accessorydepth %>
</p>

<p>
  <strong>Accessorystraplength:</strong>
  <%= @tab2a.accessorystraplength %>
</p>

<p>
  <strong>Accessoryminlength:</strong>
  <%= @tab2a.accessoryminlength %>
</p>

<p>
  <strong>Accessorymaxlength:</strong>
  <%= @tab2a.accessorymaxlength %>
</p>

<p>
  <strong>Accessorychainlength:</strong>
  <%= @tab2a.accessorychainlength %>
</p>

<p>
  <strong>Accessorypendantwidth:</strong>
  <%= @tab2a.accessorypendantwidth %>
</p>

<p>
  <strong>Accessorydiameter:</strong>
  <%= @tab2a.accessorydiameter %>
</p>

<p>
  <strong>Accessorylensdiameter:</strong>
  <%= @tab2a.accessorylensdiameter %>
</p>

<%= link_to 'Edit', edit_tab2a_path(@tab2a) %> |
<%= link_to 'Back', tab2as_path %>
