<p id="notice"><%= notice %></p>

<p>
  <strong>Productname:</strong>
  <%= @tab2d.productname %>
</p>

<p>
  <strong>Shoesavailablein:</strong>
  <%= @tab2d.shoesavailablein %>
</p>

<p>
  <strong>Modelshoesize:</strong>
  <%= @tab2d.modelshoesize %>
</p>

<p>
  <strong>Uk3length:</strong>
  <%= @tab2d.uk3length %>
</p>

<p>
  <strong>Uk4length:</strong>
  <%= @tab2d.uk4length %>
</p>

<p>
  <strong>Uk5length:</strong>
  <%= @tab2d.uk5length %>
</p>

<p>
  <strong>Uk6length:</strong>
  <%= @tab2d.uk6length %>
</p>

<p>
  <strong>Uk7length:</strong>
  <%= @tab2d.uk7length %>
</p>

<p>
  <strong>Uk8length:</strong>
  <%= @tab2d.uk8length %>
</p>

<p>
  <strong>Uk3platformheight:</strong>
  <%= @tab2d.uk3platformheight %>
</p>

<p>
  <strong>Uk4platformheight:</strong>
  <%= @tab2d.uk4platformheight %>
</p>

<p>
  <strong>Uk5platformheight:</strong>
  <%= @tab2d.uk5platformheight %>
</p>

<p>
  <strong>Uk6platformheight:</strong>
  <%= @tab2d.uk6platformheight %>
</p>

<p>
  <strong>Uk7platformheight:</strong>
  <%= @tab2d.uk7platformheight %>
</p>

<p>
  <strong>Uk8platformheight:</strong>
  <%= @tab2d.uk8platformheight %>
</p>

<p>
  <strong>Uk3heelmheight:</strong>
  <%= @tab2d.uk3heelmheight %>
</p>

<p>
  <strong>Uk4heelheight:</strong>
  <%= @tab2d.uk4heelheight %>
</p>

<p>
  <strong>Uk5heelheight:</strong>
  <%= @tab2d.uk5heelheight %>
</p>

<p>
  <strong>Uk6heelheight:</strong>
  <%= @tab2d.uk6heelheight %>
</p>

<p>
  <strong>Uk7heelheight:</strong>
  <%= @tab2d.uk7heelheight %>
</p>

<p>
  <strong>Uk8heelheight:</strong>
  <%= @tab2d.uk8heelheight %>
</p>

<%= link_to 'Edit', edit_tab2d_path(@tab2d) %> |
<%= link_to 'Back', tab2ds_path %>
