<h1>Listing tab2s</h1>

<table>
  <thead>
    <tr>
      <th>Product Name</th>
      <!--th>Model Size</th>
      <th>Model Height</th>
      <th>Model Wears</th>
      <th>XS Length</th>
      <th>S Length</th>
      <th>M Length</th>
      <th>L Length</th>
      <th>XS Waist</th>
      <th>S Waist</th>
      <th>M Waist</th>
      <th>L Waist</th>
      <th>XS Bust</th>
      <th>S Bust</th>
      <th>M Bust</th>
      <th>L Bust</th>
      <th>X Sleeve</th>
      <th>S Sleeve</th>
      <th>M Sleeve</th>
      <th>L Sleeve</th-->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tab2s.each do |tab2| %>
      <tr>
        <td><%= tab2.productname %></td>
        <!--td><%= tab2.modelsize %></td>
        <td><%= tab2.modelheight %></td>
        <td><%= tab2.modelwears %></td>
        <td><%= tab2.xslength %></td>
        <td><%= tab2.slength %></td>
        <td><%= tab2.mlength %></td>
        <td><%= tab2.llength %></td>
        <td><%= tab2.xswaist %></td>
        <td><%= tab2.swaist %></td>
        <td><%= tab2.mwaist %></td>
        <td><%= tab2.lwaist %></td>
        <td><%= tab2.xsbust %></td>
        <td><%= tab2.sbust %></td>
        <td><%= tab2.mbust %></td>
        <td><%= tab2.lbust %></td>
        <td><%= tab2.xssleeve %></td>
        <td><%= tab2.ssleeve %></td>
        <td><%= tab2.msleeve %></td>
        <td><%= tab2.lsleeve %></td-->
        <!--td><%= link_to 'Show', tab2 %></td>
        <td><%= link_to 'Edit', edit_tab2_path(tab2) %></td>
        <td><%= link_to 'Delete', tab2, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tab2', new_tab2_path %>
