<p id="notice"><%= notice %></p>

<p>
  <strong>Productname:</strong>
  <%= @tab2.productname %>
</p>

<p>
  <strong>Modelsize:</strong>
  <%= @tab2.modelsize %>
</p>

<p>
  <strong>Modelheight:</strong>
  <%= @tab2.modelheight %>
</p>

<p>
  <strong>Modelwears:</strong>
  <%= @tab2.modelwears %>
</p>

<p>
  <strong>Xslength:</strong>
  <%= @tab2.xslength %>
</p>

<p>
  <strong>Slength:</strong>
  <%= @tab2.slength %>
</p>

<p>
  <strong>Mlength:</strong>
  <%= @tab2.mlength %>
</p>

<p>
  <strong>Llength:</strong>
  <%= @tab2.llength %>
</p>

<p>
  <strong>Xswaist:</strong>
  <%= @tab2.xswaist %>
</p>

<p>
  <strong>Swaist:</strong>
  <%= @tab2.swaist %>
</p>

<p>
  <strong>Mwaist:</strong>
  <%= @tab2.mwaist %>
</p>

<p>
  <strong>Lwaist:</strong>
  <%= @tab2.lwaist %>
</p>

<p>
  <strong>Xsbust:</strong>
  <%= @tab2.xsbust %>
</p>

<p>
  <strong>Sbust:</strong>
  <%= @tab2.sbust %>
</p>

<p>
  <strong>Mbust:</strong>
  <%= @tab2.mbust %>
</p>

<p>
  <strong>Lbust:</strong>
  <%= @tab2.lbust %>
</p>

<p>
  <strong>Xssleeve:</strong>
  <%= @tab2.xssleeve %>
</p>

<p>
  <strong>Ssleeve:</strong>
  <%= @tab2.ssleeve %>
</p>

<p>
  <strong>Msleeve:</strong>
  <%= @tab2.msleeve %>
</p>

<p>
  <strong>Lsleeve:</strong>
  <%= @tab2.lsleeve %>
</p>

<%= link_to 'Edit', edit_tab2_path(@tab2) %> |
<%= link_to 'Back', tab2s_path %>
