<p id="notice"><%= notice %></p>

<p>
  <strong>Productname:</strong>
  <%= @tab1.productname %>
</p>

<p>
  <strong>Productparagraph:</strong>
  <%= @tab1.productparagraph %>
</p>

<p>
  <strong>Bullet1:</strong>
  <%= @tab1.bullet1 %>
</p>

<p>
  <strong>Bullet2:</strong>
  <%= @tab1.bullet2 %>
</p>

<p>
  <strong>Bullet3:</strong>
  <%= @tab1.bullet3 %>
</p>

<p>
  <strong>Bullet4:</strong>
  <%= @tab1.bullet4 %>
</p>

<p>
  <strong>Bullet5:</strong>
  <%= @tab1.bullet5 %>
</p>

<p>
  <strong>Sku:</strong>
  <%= @tab1.sku %>
</p>

<%= link_to 'Edit', edit_tab1_path(@tab1) %> |
<%= link_to 'Back', tab1s_path %>
