<p id="notice"><%= notice %></p>

<p>
  <strong>Product Name: </strong> <%= @tab1.productname %>
</p>

<p>
  <strong>Product Description: </strong> <%= @tab1.productparagraph %>
</p>

<p>
  <strong>Bullet Point 1: </strong> <%= @tab1.bullet1 %>
</p>

<p>
  <strong>Bullet Point 2:</strong> <%= @tab1.bullet2 %>
</p>

<p>
  <strong>Bullet Point 3:</strong> <%= @tab1.bullet3 %>
</p>

<p>
  <strong>Bullet Point 4:</strong> <%= @tab1.bullet4 %>
</p>

<p>
  <strong>Bullet Point 5:</strong> <%= @tab1.bullet5 %>
</p>

<p>
  <strong>SKU Number:</strong> <%= @tab1.sku %>
</p>

<div class="container">
  <div class="row">
    <div class="col-md-12 centered">
<h3>Is all of this information correct? If not, you can go back and <%= link_to 'Edit it', edit_tab1_path(@tab1), :class => "btn" %></h3> 
    </div>
   </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12 centered">
<h3>Copy and paste this code in the Shopify HTML editor. This is the first tab for the product '<%= @tab1.productname %>'</h3>
<textarea>
<li id="tab1" class="active"><p><%= @tab1.productparagraph %></p><% if @tab1.bullet1.present? %><ul><% end %><% if @tab1.bullet1.present? %><li><% end %><%= @tab1.bullet1 if @tab1.bullet1.present? %><% if @tab1.bullet1.present? %></li><% end %><% if @tab1.bullet2.present? %><li><% end %><%= @tab1.bullet2 if @tab1.bullet2.present? %><% if @tab1.bullet2.present? %></li><% end %><% if @tab1.bullet3.present? %><li><% end %><%= @tab1.bullet3 if @tab1.bullet3.present? %><% if @tab1.bullet3.present? %></li><% end %><% if @tab1.bullet4.present? %><li><% end %><%= @tab1.bullet4 if @tab1.bullet4.present? %><% if @tab1.bullet4.present? %></li><% end %><% if @tab1.bullet5.present? %><li><% end %><%= @tab1.bullet5 if @tab1.bullet5.present? %><% if @tab1.bullet5.present? %></li><% end %><% if @tab1.bullet1.present? %></ul><% end %><% if @tab1.sku.present? %><b><% end %><%= @tab1.sku %><% if @tab1.sku.present? %></b><% end %></li>
<!-- PASTE THE SIZING INFORMATION BELOW THIS LINE - DO NOT PUBLISH THE PRODUCT WITHOUT SIZING OR CARE INFORMATION -->
</textarea>
</div>
</div>
</div>

<%= link_to 'Edit', edit_tab1_path(@tab1) %> |
<%= link_to 'Back', tab1s_path %>
